# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build
*.tsbuildinfo

# Env files
.env*
!.env.example

# Logs
*.log

# Database
*.db
*.sqlite

# Cache
.cache
.turbo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Contract artifacts
artifacts
cache
typechain-types

# Misc
coverage
.vercel

